.vscode/
tb_data/
dataset/MLCommons/subset1/
dataset/MLCommons/subset2/
dataset/SpeechCommands/MaleCommands
dataset/SpeechCommands/speech_commands_v0.02
dataset/SpeechCommands/FemaleCommands
dataset/speech_commands_v0.02.tar.gz
dataset_cache/
src/pre_transform_analysis/models/pytorch_model.bin
src/__pycache__/
src/matchbox/__pycache__/
log.txt